* {
    box-sizing: border-box;
}
body {
    font: 400 16px/20px 'Segoe UI', sans-serif;
    background: linear-gradient(180deg, rgba(19, 19, 22, 0) 0%, #131316) no-repeat top/100% 667px, url("./images/image.jpg")  no-repeat top/100% 667px
    #131316;
}

.container{
    width: 620px;
    padding: 0;
    margin: 0 auto;
}

/*title*/
h2.title2{
    font-size: 32px;
    line-height: 43px;
    font-weight: 400;
    color: #FFFFFF;
}
h3.title3{
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #131316;
}
.button{
    display: flex;
    padding: 10px 0;
    border: 0;
    letter-spacing: 0.0938rem;
    background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
    min-width: 180px;
    max-width: 285px;
    color: #FFFFFF;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.header_nav{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.novelties_title{
    text-align: center;
    margin-top: 40px;
}

.header_logo{
    height: 100%;
}

.novelties_section{
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.novelties_card{
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    border-radius: 4px;
    align-items: center;
    padding: 25px 10px 0 10px;
}

.novelties_card:first-child{
    padding-top: 33px;
}

.novelties_img{
    margin: 0 -10px 25px -10px ;
}

.novelties_img--intend{
    margin-bottom: 37px;
}

.novelties_text{
    max-width: 180px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.novelties_price{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    right: 10px;
    width: 90px;
    margin-top: 0;
    margin-bottom: 10px;
}
.novelties_card .button{
    margin-bottom: 10px;
}

.price_change{
    display: flex;
    align-items: center;
}

.price_change .novelties_price:first-child{
    text-decoration: line-through;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    justify-content: center;
    color: #D9D9D9;
}

.novelties_text--markup{
    max-width: 285px;
}

.button--markup{
    width: 100%;
}

.novelties_card--markup:first-child{
    padding-top: 22px;
}
.novelties_card--markup:nth-child(2){
    padding-top:4px;
}
.novelties_section .novelties_card:first-child .novelties_img--markup{
    margin-bottom: 22px;
}
.novelties_section .novelties_card:nth-child(2) .novelties_img--markup{
    margin-bottom: 4px;
}
.bigCard{
    text-align: center;
}
.bigCard--color{
    background-color: #FFFFFF;
}
.bigCard_card{
    display: flex;
}
.bigCard_description{
    text-align: left;
}
.bigCard_description_icons{
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.bigCard_img{
    object-fit: contain;
}
.bigCard_icon{
    margin-right: 8px;
    width: 28px;
    height: 28px;
}
.bigCard_icon:last-child{
    margin-right: -8px;
}